input, textarea, select {
  margin: 0;
  width: 100%;
  outline: none;
  display: block;
  background: #FFF;
  color: $default-color;
  box-sizing: border-box;
  @include border-radius(2px);
  padding: $widget-padding-up $widget-padding-left;
  border: $widget-border-width solid $default-border-color;
  @include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s);

  &:hover{
    border-color: darken($default-border-color, 15%);
  }

  &:focus{
    color: #444;
    border: 1px solid darken($default-border-color, 30%);
    @include box-shadow(rgba(0,0,0,.2) 0 0 3px);
  }
}

.error {
  color: $error-color;
  border-color: $error-color;

  &:hover{
    border-color: #dd4433;
  }
  &:focus{
    border-color: #dd4433;
  }
}

.form-vertical {
  .form-group {
    @include clearfix;

    .control-label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      @include clearfix;
    }

    .form-control {
      width: 100%;
      @include clearfix;
      margin-bottom: 10px;
    }
  }
}

.form-horizontal {
  .form-group {
    margin-bottom: 10px;
    @include clearfix;

    .control-label {
      text-align: right;
      font-weight: bold;
      @include clearfix;
    }

    .form-control {
      width: 100%;
      @include clearfix;
    }
  }
}
